@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>*@

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blogxer | Single Blog 2</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/asset/img/favicon.png">
    <!-- Normalize CSS -->
    <link href="~/asset/css/normalize.css" rel="stylesheet" />
    <!-- Main CSS -->
    <link href="~/asset/css/main.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/asset/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome CSS -->
    <link href="~/asset/css/fontawesome-all.min.css" rel="stylesheet" />
    <!-- Flat Icon CSS -->
    <link href="~/asset/font/flaticon.css" rel="stylesheet" />
    <!-- Animate CSS -->
    <link href="~/asset/css/animate.min.css" rel="stylesheet" />
    <!-- Meanmenu CSS -->
    <link href="~/asset/css/meanmenu.min.css" rel="stylesheet" />
    <!-- Owl Carousel CSS -->
    <link href="~/asset/vendor/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/asset/vendor/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/asset/style.css" rel="stylesheet" />
    <!-- Modernize js -->
    <script src="~/asset/js/modernizr-3.6.0.min.js"></script>
</head>

<body class="sticky-header">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->
    <!-- ScrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- ScrollUp End Here -->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    @RenderBody()
    <!-- jquery-->
    <script src="~/asset/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="~/asset/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="~/asset/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/asset/js/bootstrap.min.js"></script>
    <!-- Owl Carousel js -->
    <script src="~/asset/vendor/OwlCarousel/owl.carousel.min.js"></script>
    <!-- Meanmenu js -->
    <script src="~/asset/js/jquery.meanmenu.min.js"></script>
    <!-- Smooth Scroll js -->
    <script src="~/asset/js/jquery.smoothscroll.min.js"></script>
    <!-- Main js -->
    <script src="~/asset/js/main.js"></script>

</body>

</html>
